#login-form { display:flex;
    flex-direction: column;
    
   margin: 0px 30px;
   
}

#login-form input{
    border: none;
    padding: 15px 0px;
    font-size: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 25px;
    transition: border-color 0.3s ease-in-out;
}
#login-form input::placeholder {
    color: rgba(0, 0, 0, 0.4);
}

#login-form input:focus{
    border-color:var(--yellow);
}
/*클릭했을때 아래쪽 줄에 색효과 주는명령
input:focus { CSS Style }
input 요소에 커서 위치해 선택된 동안의 스타일 지정.
root:를 사용하여 CSS 변수를 적용. 

*/

